<Files ~ "^.(htaccess|htpasswd)$">
deny from all
</Files>
AuthUserFile /var/www/vhosts/watt.web.nitech.ac.jp/httpdocs/.htpasswd4
AuthGroupFile /dev/null
AuthName "Please enter your ID and password"
AuthType Basic
require valid-user 
order deny,allow
